name: cpp-cmake-mingw-prebuilt-release-actions-workflow
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
      - 'c*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    name: Create Release
    runs-on: windows-latest
    env:
      targetZip: zd-portable-${{ github.ref_name }}.zip
    steps:
      - uses: actions/checkout@v4

      - run: cd v1.0 && 7z.exe x "ZD V1.0.zip.001" -o"${{ github.workspace }}\zd-installation"
      
      - name: Delete $PLUGINSDIR
        run: RD /S /Q $PLUGINSDIR
        shell: cmd
        working-directory: zd-installation
      
      - name: Delete $TEMP
        run: RD /S /Q $TEMP
        shell: cmd
        working-directory: zd-installation
      
      - name: Archive Release
        uses: thedoctor0/zip-release@master
        with:
          type: 'zip'
          directory: "zd-installation"
          filename: "${{ env.targetZip }}"
          
      - name: Release prebuilt
        uses: ncipollo/release-action@v1
        with:
          artifacts: "zd-installation/${{ env.targetZip }}"
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
